.bd-example {
    padding: 1.5rem;
    border: solid;
    border-color: #f8f9fa;;
}
figure {
    background: #f8f9fa;
}
.tag {
    color: #ffa500;
}
.attribut {
    color: #fd3618;
}
.property {
    color: #2ceb1e;
}
.value {
    color: #3e86ff;
}